# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
.Python
env/
venv/
ENV/
.venv/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
*.log

# pipenv
Pipfile.lock

# poetry
poetry.lock

# Pytest
.cache/
.pytest_cache/

# mypy
.mypy_cache/
.dmypy.json

# Coverage
.coverage
htmlcov/
.coverage.*

# Pydantic
*.env
.env
.env.*

# VS Code
.vscode/

# PyCharm
.idea/

# macOS
.DS_Store

# Logs
*.log

# Database (SQLite local)
*.sqlite3
*.db*
